#head{
    background-color: #5f9ea0;
    padding: 3px;
    text-align: center;
    font-size: 40px;
}
canvas{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}
#ts{
    font-size: 30px;
    background-color: burlywood;
    margin-top: 80px;
    padding: 10px;
    border-width: 1px;
    border-radius: 8px;
}